
@import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

body {
    background: rgb(17,123,209);
}

button {
    border: 1px solid #007AAA;
}

.center {
    margin: 0 auto;
}

.inline {
    display: inline-block;
    vertical-align: top;
    height: inherit;
    border-radius: 15px;
    margin-bottom: 1em;
    padding-top: 0.5em;
}
#tablero > .inline {
    height: 500px;
}

.align-center {
    text-align: center;
}

.mycss {
    font-weight: normal;
    color: #FFF;
    letter-spacing: 5pt;
    word-spacing: 30pt;
    text-align: center;
    font-family: "Love Ya Like A Sister";
    font-size: 60px;
}

#main {
    width: 99%;
    height: 650px;
    margin-bottom: 1%;
}

#acciones {
    text-align: center;
}

.wrap-niveles {
    margin-top: 01%;
}

#niveles {
    padding-top: 11.7%;
    width: 14%;
    background-color: rgb(17,123,209);

    overflow-y: auto;
}

#juego {
    width: 60%;
    background-color: rgb(157,219,234);
}
#juego > .center {
    width: 790px;
}

#papa {
    width: 25%;
    background-color: rgb(140,213,228);
}

.nivel {
    width: 60%;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    margin: 10px auto;
    cursor: pointer;
    color: #000;

        border: 1px solid #0020AA;
        background: transparent linear-gradient(#75D0F5, #1F8F2C) repeat scroll 0% 0%;
}

.nivel-bloqueado {
    background-color: lightslategray;

    cursor: not-allowed;
}

.smallBtn {
  padding: 0px 15px;
  border-radius: 5px;
  color: #000;
  border: 1px solid #007AAA;
  background: transparent linear-gradient(#75D0F5, #16A2C8) repeat scroll 0% 0%;
  
  font-size: 13px;
  line-height: 20px;
  margin-left: 1em;
}

.btn {
  border: 1px solid #007AAA;
  line-height: 0.7em;
  display: block;
  width: 8em;
  text-align: left;
}

.inform div {
    display: inline-block;
    color: #C90000;
    font-size: 16px;
    margin-left: 1em;
}
.inform {
  width: 12em;
}

#btnPapa {
    text-align: center;
}

#texto {
    background: #F8F65E;
    width: 40em;
    border: 1px solid #117BD1;
    padding: 0.2em 1em;
    border-radius: 0.4em;
        margin: 0 auto;
}





.wrap-controles {
    margin-top: 25px;
}

.wrap-controles input {
    text-align: center;
}

.controles {
    width: 350px;
}

.controles input {
    width: 260px;
    height: 35px;
    color: black;
    border-radius: 10px;
    border: 2px solid #C54141;
}

.controles button {
    height: 35px;
    background-color: #FBE691;

    padding: 0px 15px;
    border-radius: 10px;
    color: #000;
    border: 1px solid #007AAA;
    background: transparent linear-gradient(rgb(117, 208, 245), #1F8F2C) repeat scroll 0% 0%;
    margin-left: 10px;
}

.controles #enviar {
    padding: 0px 25px;
    border-radius: 10px;
}

.agrandar{
    -webkit-animation-name: agrandar;
    -webkit-animation-duration: 0.125s;
    -moz-animation-name: agrandar;
    -moz-animation-duration: 0.125s;

}
@-webkit-keyframes agrandar{
    from {
        padding-top: 30%;
        width: 0;
        height: 0;
    }
    to {
        padding-top: 0%;
        width: 500px;
        height: 354px;
    }
}
@-moz-keyframes agrandar{
    from {
        padding-top: 30%;
        width: 0;
        height: 0;
    }
    to {
        padding-top: 0%;
        width: 500px;
        height: 354px;
    }
}


.adivinarOK{
    -webkit-animation-name: adivinarOK;
    -webkit-animation-duration: 0.3s;
    -moz-animation-name: adivinarOK;
    -moz-animation-duration: 0.3s;

}
@-webkit-keyframes adivinarOK{
    from {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    to {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
}
@-moz-keyframes adivinarOK{
    from {
        -moz-transform: scale(0.5);
        transform: scale(0.5);
    }
    to {
        -moz-transform: scale(1.25);
        transform: scale(1.25);
    }
}














.subtitulo {
    text-align: center;
    border-top: 1px solid #117BD1;
    margin-bottom: -12px;
    margin-left: 10px;
}

.wrap-respuestas > .subtitulo {
    margin-left: 4px;
    margin-right: 6px;
}

.wrap-respuestas {
    width: 260px;
}

.wrap-palabra {
    float: left;
}

.palabra {
    width: 119px;
    line-height: 83px;
    background-color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #117BD1;
    margin: 5px;
}

.palabra:hover {
    cursor: pointer;
}

.palabra-escondida {
    background-color: rgba(81, 197, 255, 0.52);
    /*background-color: rgba(193, 194, 222, 0.62);*/
}

.palabra-escondida:hover {
    cursor: help;
}






.respuestas {
    margin-top: 10px;
}

.imagen_tema {
    border: 5px solid #C54141;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 510px;
    height: 374px;
  }

.pista {
    width: 230px;
    margin: 0 auto;
}


.pista button {
    height: 35px;
    width: 230px;
    background-color: #FBE691;
    padding: 0px 15px;
    border-radius: 8px;
    margin-top: 20px;
    color: #000;

    border: 1px solid #007AAA;
    background: transparent linear-gradient(rgb(117, 208, 245), #1F8F2C) repeat scroll 0% 0%;
}

button:hover {
    color: #000;
}

.connection {
    width: 50px;
}

input:focus {
    border: 4px solid #C54141;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-animation-name: alineaIzq;
    -webkit-animation-duration: 0.2s;
    -moz-animation-name: alineaIzq;
    -moz-animation-duration: 0.2s;
}
@keyframes alineaIzq{
    from {
        font-size: 14px;
    }
    to {
        font-size: 16px;
    }
}@-moz-keyframes alineaIzq{
    from {
        font-size: 14px;
    }
    to {
        font-size: 16px;
    }
}


.controles input.horizTranslate {
    -webkit-animation-name: trasladar;
    -webkit-animation-duration: 0.25s;
    -moz-animation-name: trasladar;
    -moz-animation-duration: 0.25s;

}
@-webkit-keyframes trasladar{
    from {
        margin-left: 5px;
    }
    to {
        margin-left: -5px;
    }
}
@-moz-keyframes trasladar{
    from {
        margin-left: 5px;
    }
    to {
        margin-left: -5px;
    }
}

/* Grow */
.hvr-grow {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}


/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
    border: #007AAA solid 1px;
    border-radius: 10px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

/* Bubble Float Right */
.hvr-bubble-float-right {  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-right:before {
  position: absolute;
  z-index: -1;
  top: calc(50% - 10px);
  right: -20px;
  content: '';
  border-style: solid;
  border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #B7EEFF;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-right:hover, .hvr-bubble-float-right:focus, .hvr-bubble-float-right:active {
  -webkit-transform: translateX(-15px);
  transform: translateX(-15px);
}
.hvr-bubble-float-right:hover:before, .hvr-bubble-float-right:focus:before, .hvr-bubble-float-right:active:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}


/* overlight */

.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.50;
  filter: alpha(opacity=50);
}

.white_content {
  text-align: center;
  font-size: 20px;
  line-height: 100px;
  display: none;
  position: absolute;
  top: 35%;
  left: 25%;
  width: 50%;
  height: 25%;
  padding: 20px;
  border: 10px solid cornflowerblue;
  border-radius: 5px;
  background-color: white;
  z-index:1002;
  overflow: auto;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    color: rgba(0,0,0,0.3);
    text-decoration: none !important;
    background-color: #000;
    color: rgba(255,255,255,0.8);
    border-radius: 999em;
    height: 24px;
    width: 24px;
    text-align: center;
  z-index:1003;
}
.close:hover {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 1;
    background-color: #6495ED;
}

a {
    text-decoration: none;
    color: #333;
}

#fade3{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #000;
  -moz-opacity: 0.5;
  opacity:.5;
  filter: alpha(opacity=50);
  z-index:1001;
}

#ayudaUnoyDos {
  display: none;
  position: absolute;
  z-index:1002;
}


@media all and (max-width: 80em) {
    #main {
        height: 600px;
    }
    #niveles {
        width: 10%;
    }
    .nivel {
        width: 80%;
    }

    #juego {
        width: 64%;
    }
    #juego > .center {
        width: 640px;
    }
    .imagen_tema {
        width: 359px;
        height: 279px;
        margin-top: 37px;
    }
    #imagen_game {
        width: 350px;
        height: 270px;
    }
    .palabra {
        line-height: 64px;
    }
    .hvr-bubble-float-right::before {
        right: -10px;
    }
    #videollamada {
        width: 250px;
        height: 250px;
    }
    #tablero > .inline {
        height: 400px;
    }
    #texto {
        margin: 3em;
    }
}
