/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-ene-2016, 4:04:30
    Author     : sergio
*/
@import url(https://fonts.googleapis.com/css?family=McLaren);
@import url(https://fonts.googleapis.com/css?family=Chewy);
    @import url(https://fonts.googleapis.com/css?family=Corben:400,700&subset=latin,latin-ext);
    @import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

@font-face{
    font-family:"Action J";
    src:url("../fonts/actionj.ttf");
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:"Father";
    src:url("../fonts/jlrfathersday.ttf");
    
}

*{
    
font-family: 'McLaren', cursive;

}
body{
    background:url('../img/fondoPaper.jpg') rgb(0,123,255);
     background-size: 100% 100% !important;
     background-repeat: no-repeat;
   
     
}

footer{
   font-size: larger;
   color: red;
   font-style:italic;
   width: 100%;
    height: 81px;
    
}

.container
{
    background: white;
    margin:0 auto;
    width:48%;
    padding: 0 0 0 0 !important;
    height: 100%;
    margin-bottom: 0;
}
.puerta{
    
    float: right;
    
}

.perspective
{
   background: url("http://dc428.4shared.com/img/QWu4ziBq/s3/doorBorder.png");
            background-repeat: no-repeat;
            background-position: right;
            position: relative;
            display: block;
            float: right;
            height: 274px;
            width: 147px;
            margin: 20px;
            margin-left: 0px;
            -webkit-perspective: 450;
            border-radius: 3px;
            box-sizing: border-box;
           
        }
        
        .thumb
        {
            background: url("http://dc428.4shared.com/img/-vayshJ-/s3/ClassDoor.png");
            background-repeat: no-repeat;
            background-position: right;
            width: 147px;
            height: 274px;
            position: absolute;
            box-sizing: border-box;
            border-radius: 3px;
            box-shadow: 0 0 0 10px rgba(255, 255, 255, .0) inset;
            transition: 1s transform linear;
            transform-origin: left;
            cursor: pointer;
        }
        
        .thumbOpened
        {
            transform: rotateY(-90deg);
            transform-origin: 8px;
            transition: .5s linear;
        }

.alert {
padding: 8px 35px 8px 14px;
margin-bottom: 20px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
  color: #000;
  
    transform-origin: left;
  transform:rotateY(180deg);
  opacity:0;
  animation-name: go;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  width:350px;
}
@keyframes go {
  100%{
    opacity:1;
    transform:rotateY(0deg);
  }
}


.mycss
{
text-shadow:1px 1px 6px rgba(255,255,0,0.3);
font-weight:normal;
color:#383FA8;letter-spacing:10pt;
word-spacing:30pt;
font-size:69px;
text-align:center;
font-family:'Love Ya Like A Sister', cursive;
line-height:2;
}

.mycss_nivel1
{
font-weight:normal;
width: 100%;
color:#383FA8;
height: auto;
letter-spacing:1pt;
word-spacing:2pt;
font-size:20px;text-align:center;
font-family: 'Chewy',cursive;
line-height:2;margin:0.5em;padding:0.2em;
padding-left: 4px;
    margin-left: 0px;
    
}

.col-md-4{
    height: 100%;
}

.jumbotron{
   height: 100%;
   width: 100%;
   padding-bottom: 1em !important;
   padding-top: 1em !important;
    padding-left: 1.8em !important;
    padding-right: 1.8em !important;
    margin: 0.1em;
    background: white;
    border: 0.1em solid rgb(0,123,255);
    
    color: #18257A !important;

    
}
.niveles{
    margin: 0.5em;
}

.trans{
    z-index:1;filter:alpha(opacity=90);float:left;-moz-opacity:.90;opacity:.90;
    
}
.niveles_incompleto{
    
    background-color: rgb(0,123,255);
    color:white;
    
}
a:hover{
    
	text-decoration: none;
}

.niveles_incompleto .mycss_nivel1{
    color:white;
}
.niveles_bloqueado{
    background: rgb(217,217,217);
    color: white;
 
}

.niveles_bloqueado .mycss_nivel1{
        color: white;
}

.niveles_bloqueado .glyphicon-lock{
    color: rgb(196,196,196);
}

input{
    color:#18257A !important;
}