
body {
    background-color: rgb(28, 119, 218);
    color: white;
}

#main {
    width: 80%;
}

.azul {
    color: rgb(28, 119, 218);
}

.wrap-adivinaza2{
    float:left;
}

.adivinaza {
    width: 500px;
    height: 300px;

    line-height: 300px;
    text-align: center;
}

.badge{
    background: rgb(49,83,150);
}

.adivinaza p {
    font-size: xx-large;
}

.wrap-controls {
    width: 500px;
    margin-top: 20px;
}

.wrap-controls input {
    text-align: center;
}

.controls {
    width: 412px;
    margin-bottom: 0.2em;
}

.controls input {
    width: 260px;
    height: 35px;

    color: black;
    border-radius: 10px;
}

.controls button {
    height: 35px;

    background-color: rgb(49,83,196);

    padding: 0px 15px;
    border-radius: 10px;
}

.controls #enviar {
    padding: 0px 25px;
    border-radius: 10px;
}

.wrap-respuestas {
    width: 300px;
}

.wrap-respuestas h2 {
    color: white;
}

.wrap-palabra {
    float: left;
}



.palabra {
    background-color: white;

    font-weight: bold;
    font-size: larger;

    text-align: center;

    padding-top: 25px;
    padding-bottom: 25px;

    padding-left: 10px;
    padding-right: 10px;

    border-radius: 5px;
    margin: 3px;
}

.palabra-s {
    padding-left: 15px;
    padding-right: 15px;
}

.palabra-m {
    padding-left: 30px;
    padding-right: 30px;
}

.palabra-l {
    padding-left: 45px;
    padding-right: 45px;
}

.palabra:hover {
    cursor: pointer;
}

.palabra-monedas-s {
    bottom: 45px;
    left: 15px;
}

.palabra-monedas-m {
    bottom: 45px;
    left: 50px;
}

.palabra-monedas-l {
    bottom: 45px;
    left: 65px;
}

.palabra-monedas {
    height: 0;
    color: black;
    position: relative;
    font-size: xx-small;
}

.wrap-pista {
    color: black;
}

.pista {
    min-height: 30px;
}

.pista div {
    width: 29px;
    display: inline-block;
    background-color: white;
    padding: 8px 0px;
    text-align: center;
    border-radius: 4px;
}

.pista-control {
    width: 400px;
}

.pista-control button {
    color: white;
    background: orange;

    padding: 5px 10px;
    border-radius: 5px;
}
#enviar{
    padding-left: 0.8em !important;
    padding-right: 0.8em !important;
}
#ayuda_enviar{
    color: white;
    background: rgb(49,83,196);
   font-size: 1.4em;
    padding: 5px 10px;
    border-radius: 5px;
}






#popup-comprar {
    width: 201px;
    margin: 0 auto;
}

#popup-comprar-mensaje {
    height: 100px;

    vertical-align: middle;

    background-color: white;

    color: lightskyblue;
    text-align: center;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#popup-comprar-confirmar {
    background-color: lightskyblue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#popup-comprar-confirmar div {
    width: 100px;

    display: table-cell;

    line-height: 70px;
    padding-top: 15px;
    text-align: center;
}

#popup-comprar-confirmar div:first-child {
    border-right: solid rgb(49,83,196) 1px;
}

#popup-comprar-confirmar div:hover {
    cursor: pointer;
}

#popup-comprar-confirmar div span {
    font-size: xx-large;
}

















