
/* @import url(https://fonts.googleapis.com/css?family=McLaren); */

#estado_papa {
    color: black;
}

.nav_height {
    height: 60px;
}

.center {
    margin: 0 auto;
}

.align-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.perfil-mini {
    border-radius: 80%;
}

#perfil-conectado {
    position: relative;
    top: 24px;
    left: -18px;
}

button {
    border: 0;
}

input {
    border: 0;
}

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-padding {
    padding: 0;
}

.glyphicon-globe {
    font-size: xx-large;
    vertical-align: middle;
}

#papa_usuario {
    padding-top: 10px;
}