

/* ==========================================================================
   Author: Sergio Moncayo
   ========================================================================== */

  @import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
  
  *{
 text-align:center;
    font-family:'Love Ya Like A Sister', cursive;
   
 
}
  
.container {
        background: white;
        height: 58em;
        margin:0 auto;
        width:50%;
         margin-bottom: 0;

}
.letra_color .tam-texto{
    color:rgb(217,40,90) !important;
}
body{
     background:url('../img/fondo3.jpg') rgb(0,123,255);
     background-size: cover !important;
     background-repeat: repeat;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 30px;
}

.chat li.right .chat-body
{
    margin-right: 30px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.mensajeria{
    height: auto;
    margin:0 0 0 0 !important;
    padding-right: 0;
    width: 100% !important;
    padding-left: 0px; 
}


.micolumna{

    color:rgb(255,50,50);
}


.micolumnainside{

    color:rgb(50,50,100);
}

.tam-texto{
    font-size: x-large;
}

.hrP {border: 0; height: 2px; text-align: center; 
     background-image: linear-gradient(left, #fff, #000, #fff);}

div.wrapper {
  margin: 20px auto;
  height: 900px;
  width: auto;
  /* align-content: center; */
}

p {
  font-size: 1rem;
  line-height: 25px;
  margin: 24px 0;
  text-align: center;
}

nav.vertical {
  border-radius: 4px;
  /* box-shadow: 0 0 10px rgba(0,0,0,.15); */
  overflow: hidden;
  text-align: center;
}

  nav.vertical > ul {
    list-style-type: none;
  }

    nav.vertical > ul > li {
      display: block;
    }

      nav.vertical > ul > li > label,
      nav.vertical > ul > li > a {
        background-color: rgb(59, 209, 164);
        background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
        color: rgb(255,255,255);
        display: block;
        /* font-size: .85rem; */
        /* font-weight: 500; */
        height: auto;
        /* letter-spacing: .5rem; */
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all .1s ease;
      }

        nav.vertical > ul > li > label:hover,
        nav.vertical > ul > li > a:hover {
         background-color: rgb(59, 209, 164);
         background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98)); 
         cursor: pointer;
        }

        nav.vertical > ul > li > label + input {
          display: none;
          visibility: hidden;
        }
        
          nav.vertical > ul > li > div {
            background-color: rgb(255,255,255);
            height: 0;
            overflow: scroll;
            transition: all .35s ease;
          }

            nav.vertical > ul > li > div > p {
              margin: 24px;
              text-align: left;
            }

            nav.vertical ::-webkit-scrollbar {
              width: .9rem;
            }

            nav.vertical ::-webkit-scrollbar-thumb {
              background-color: rgb(62, 115, 220);
              border: solid rgb(255,255,255);
              border-width: .4rem .4rem .4rem 0;
              border-radius: 0 .4rem .4rem 0;
            }

            nav.vertical > ul > li > label + input:checked + div {
              height: 400px;
            }


.mycss
{
font-weight:bold;
color:#18257A;
letter-spacing:4pt;
word-spacing:10pt;font-size:30px;
text-align:left;line-height:2;margin:0.1em;padding:0.2em;width:auto;
}
.mycss2
{
font-weight:bold;
color:#18257A;
letter-spacing:4pt;
word-spacing:16pt;
font-size:54px;
text-align:center;
//font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
line-height:2;margin:11px;padding:16px;width:90%;
}

.col-md-4{
   // padding: 0.1em 0.1em 0.1em 0.1em;
   padding-left: 0.5em !important;
   padding-right: 0.5em !important;
  
}

.vertical{
    border-left: 0.1em solid rgb(0,123,255);
    border-bottom: 0.1em solid rgb(0,123,255);
    height: 30em;
}

.circulo_div{
    margin-left: 0.14em !important;
    margin-right: 0.1em !important;
    margin-bottom: 0.1em !important;
}

input{
    color:#18257A !important;
}
